---
import Config from "../sarissa.config.cjs";
---

<div class="divider"></div>
<p class="text-sm pl-4">{Config.footer}</p>
<p class="text-xs pl-4">
  Build with <a class="link" href="https://astro.build/">Astro</a>
</p>
<p class="text-xs pl-4">
  Sarissa theme desing by
  <a class="link" href="https://github.com/iozcelik">iozcelik</a>
</p>
